*{
    user-select: none;
}

#form_container{
    width: 1500px;
    height: 850px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 22px 70px 4px;
    background-image: url('../assets/form_bg.jpg'), linear-gradient(#689861, rgb(145, 83, 186));
    background-position: -50% 50%, 100% 0%;
    background-size: 70%, 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#form_and_contents{
    height: 100%;
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrapper_input_box{
    width: 341px;
    padding: 4px;
    margin: 18px 0px;
    height: 100px;
    background-color: #dbdee3;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#form_to_be_submitted{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tick, #cross{
    float: right;
}

label{
    font-family: 'Lora', serif;
    font-weight: 900;
    font-size: large;
    color: #656565;
}

input{
    font-family: 'Lora', serif;
    font-size: small;
    color: #7f7f7f;
    outline: 0;
    border: 1px solid black;
    background-color: inherit;
    text-decoration: underline;
}

#bad_message, #good_message{
    font-size: 0.7em;
    font-weight: 900;
    width: 162px;
    position: relative;
    left: -51%;
    top: -88%;
    color: #dbdee3;
    font-variant: small-caps;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#bad_message{
    background-color: #ac2a20;
}

#good_message{
    background-color: #19671d;
}

#loading{
    background-image: url('../assets/spinner.png');
}

h1{
    font-family: 'Lora', serif;
    font-variant: small-caps;
    color: rgb(111, 48, 153);
}

h2{
    font-family: 'Oswald', sans-serif;
    color: rgb(89, 42, 119);
    font-size: medium;
    font-weight: 100;
}

h3{
    font-family: 'Lora', serif; 
    font-weight: 900;
    font-size: small;
    color: rgb(227, 192, 248);
}

a h3{
    font-size: medium;
    font-family: 'Oswald', sans-serif;
    color: #c1fab8;
}

a:default{
    text-decoration-color: #2cab19;
}

a:visited{
    text-decoration-color: rgb(85, 8, 130);
}

a:hover{
    text-decoration-color: brown;
}

a:focus{
    text-decoration-color: darkblue;
}

a:active{
    text-decoration-color: goldenrod;
}

button{
    color: rgb(110, 0, 107);
    font-family: 'Oswald', sans-serif;
    border: 0;
    font-size: xx-large;
    background-image: linear-gradient(62deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    animation: gradient 15s ease infinite; 
    background-size: 400% 400%;
    border: 1px dotted white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

@keyframes gradient{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#submitting_message{
    font-family: 'Oswald', sans-serif;
    font-size: larger;
    background-image: linear-gradient(90deg, #ffc187, #f59eff, #9ef9ff);
    background-clip: text;
    color: transparent;
}